body {
    overflow: hidden;
}
.menu, .mainContent {
    display:inline-block;
    vertical-align: top;
    margin:0 auto;
}

.mainHolder {
    display:inline-block;
    width:100%;
    height:550px;
    background: -moz-linear-gradient(top, #d8e0de 0%, #aebfbc 22%, #99afab 33%, #8ea6a2 50%, #829d98 67%, #4e5c5a 82%, #0e0e0e 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, #d8e0de 0%, #aebfbc 22%, #99afab 33%, #8ea6a2 50%, #829d98 67%, #4e5c5a 82%, #0e0e0e 100%); /* FF3.6+ */
    background: -ms-linear-gradient(top, #d8e0de 0%, #aebfbc 22%, #99afab 33%, #8ea6a2 50%, #829d98 67%, #4e5c5a 82%, #0e0e0e 100%); /* FF3.6+ */
    background: -o-linear-gradient(top, #d8e0de 0%, #aebfbc 22%, #99afab 33%, #8ea6a2 50%, #829d98 67%, #4e5c5a 82%, #0e0e0e 100%); /* FF3.6+ */
    background: linear-gradient(top, #d8e0de 0%, #aebfbc 22%, #99afab 33%, #8ea6a2 50%, #829d98 67%, #4e5c5a 82%, #0e0e0e 100%); /* FF3.6+ */

}


.menu {
    width:15%;
    min-width: 150px;
    height:50px;
    padding:0px;
}

.menuItem {
    border-right:2px solid black;
    border-bottom:2px solid black;
    padding:10px 15px;
    background-color: #b5b2af;
    font-size: 16px;
    transition:all 0.15s ease-in-out;
    cursor: pointer;

}

.menuItem:hover {
    padding-left:25px;
    background-color: #dbd8d5;
}

.mainContent{
    width:84%;
    min-width: 600px;
    height:550px;
    overflow: hidden;
    position:relative;
    border-left:2px solid #000000;

}

.functionalityWindow {
    position:absolute;
    width:100%;
    height:100%;
    display:inline-block;
    transition:all 0.5s ease-in-out;
    top:550px;
    opacity:0;
}

.func1 {
    background:red;
}

.func2 {
    background:blue;
}

.func3 {
    background:green;
}