

.mainHolder {
    width:860px;
    background-color: rgba(255,255,255,0.7);
    display:inline-block;
    padding:20px;
}

.meal{
    padding:10px 0px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #b4b9b6;
}



.mealName {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}
.mealDefinition {
    display: inline-block;
    vertical-align: top;
    width:600px;
}
.mealPrice{
    text-align: right;
    display: inline-block;
    width:230px;
    vertical-align: top;
}

.mealDescription {
    font-size: 12px;
    text-align: left;
    width:480px;
}

.mealPrice span {
    font-size: 16px;
}


.addBtn {
    background-color: #ff8520;
    border: 3px solid #ff8520;
    padding:5px 10px;
    font-size:14px;
    font-weight: bold;
    color: #ffffff;
    transition: all 0.15s ease-in-out;
}

.addBtn:hover {
    background-color: #ffa243;
}

input[type="number"] {
    padding:4px 8px;
    border:1px solid #9f9f9f;
    width:30px;
}


.cart {
    position:fixed;
    display:inline-block;
    top:0px;
    right:0px;
    border:4px solid #9f5f18;
    background-color: #dd8720;
    width:200px;
    min-height:200px;
}
.orderDetails{
    background:#ffffff;
    min-height: 100px;
}

.orderDetails div {
    margin:0 auto;
    padding:4px 10px;
    text-align: left;
    border-bottom:2px dashed #b2b2b2;
}

.orderDetails h4, .orderDetails img {
    display:inline-block;
    vertical-align: middle;
    margin:0 auto;
    margin-right:10px;
    color: #72716a;
    text-shadow:none;
    font-weight: bold;
}

.orderDetails img {
    height:15px;
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.1s ease-in-out;
}

.orderDetails img:hover {
    opacity: 1;
}

.orderDetails p {
    text-align: right;
    margin: 0 auto;
    color: #a7a69f;
    text-shadow: 1px 1px 2px #ff7700;
}

.total {
    font-size: 18px;
    font-weight: bold;
    text-align: right!important;
}

.datetimeHolder {
    text-align: left;
    border-bottom: 1px solid #72716a;
    margin-bottom: 10px;
}
.datetimePart {
    display:inline-block;
    vertical-align: middle;
    padding:10px;
    border-right: 1px solid #72716a;
    max-width:500px;
    margin-bottom: 5px;
    min-height: 100px;
    min-width: 200px;

}

.datetimePart label{
    font-size: 14px;
    width: 50px;
    display:inline-block;
    vertical-align: middle;
    margin:5px 0px;
}


.freeTables {
    display:inline-block;
    margin:5px 10px;
}
.freeTables span{
    font-size: 14px;
    width:130px;
    display:inline-block;
    vertical-align: middle;
}

.datetimePart input {
    display:inline-block;
    vertical-align: middle;
    margin:5px 0px;
}


.reservationDetails{
    font-size: 16px;
    border-bottom: 4px solid #9f5f18;
    text-align: left;
}

.date {
    font-size:16px;
    font-weight: bold;
    text-align: left;
    padding:5px;
    border-bottom: 4px dashed #9f5f18;
    margin-bottom:5px;
}


.reservationsTables{
    text-align:left;
    font-size:14px;
    display:inline-block;
    margin-right:10px;
}

.reserveBtn {
    padding:10px 15px;
    font-size: 18px;
    color: #ffffff;
    background-color: #c05800;
    border:3px solid #c05800;
    transition:all 0.15s ease-in-out;
    margin:5px 0px;
    cursor: pointer;
}

.reserveBtn:hover {
    background-color: #ff7300;
}

.barcodeContent {
    margin:25px 0px;
    display:none;
}

.barcodeContent label{
    font-size: 18px;
}

.barcodeContent span {
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0px 0px 4px rgb(0,0,0);
    margin-left:10px;
}