<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>AngularJS demo</title>

    <script type="text/javascript" src="angular.min.js" ></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script type="text/javascript" src="script.js"></script>

    <link rel="stylesheet" href="css.css" type="text/css" />
</head>
<body ng-app="demoApp" ng-controller="demoController">

<button id="button" ng-click="refreshView()">Klick</button><br>
    <div class="mainContainer">
        <div class="displayHolder">
            <div class="navRepair"></div>
            <img class="displayImage" ng-src="{{displayImage}}" />
        </div>
        <div class="thumbsContainer">
            <img class="thumbnail" ng-repeat="obj in data" ng-src="../images/{{obj.url}}" ng-click="clickMe(this)" />
        </div>
    </div>
</body>
</html>